<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <!--div class="flex items-center gap-4 border-r border-outline-variant pr-6">
        <button class="text-on-surface-variant hover:text-primary transition-colors" type="button">
            <span class="material-symbols-outlined">search</span>
        </button>
        <button class="text-on-surface-variant hover:text-primary transition-colors relative" type="button">
            <span class="material-symbols-outlined">notifications</span>
            <span class="absolute top-0 right-0 w-2 h-2 bg-error rounded-full"></span>
        </button>
    </div-->
    <!--div class="flex items-center gap-3 pl-2">
        <div class="flex flex-col items-end">
            <span class="font-label-md text-label-md text-on-surface leading-none">Alex Architect</span>
            <span class="font-label-md text-[10px] text-accent-db uppercase font-bold">Online</span>
        </div>
        <div class="relative">
            <img alt="Profile" class="w-9 h-9 rounded-full object-cover border-2 border-surface-container-high"
                 src="https://lh3.googleusercontent.com/aida-public/AB6AXuC5vh9NvhhiOcBZGOLNP-kN4RTbtWU_UBGz2kSI0bLnG9d3TQQXIuX4jfJipmGCILQDUUj9W5u0k6UtLYIyiaLZjqAiThHifBsx763Ahd1htyoHtgU9bpIxkUFVmLUCM6QdB_mco9R2JV9dvcIzPHPXrdTSW7tM-TdWonTs7cvqVISFjmLAkL2-p3J3mf9_wIi-3DZiHb3xbODQ_zUsNsEy8zKMQ3WXANQM0MSSk-T9JrmTldpJCFay">
            <span class="absolute bottom-0 right-0 w-3 h-3 bg-accent-db border-2 border-surface-white rounded-full"></span>
        </div>
    </div-->
</header>
</body>
</html>
